@charset "UTF-8";
.para {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
@media (min-width: 2400px) {
  .para {
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
  }
}

.negativeSkew, .trusted:before, .trusted:after, .quotation__container, .portfolio__building, .about-us__dot, .header__footer-story:before, .header__footer-language ul li:nth-child(2), .header__content-line, .menu__link, .section-lead__line {
  transform: skew(-22deg);
}

.positiveSkew, .quotation__inner, .portfolio__building > img, .menu__link span {
  transform: skew(22deg);
}

.button {
  background-color: #dacccc;
  display: grid;
  align-content: center;
  font-size: 16px;
  font-weight: 600;
  transform: skew(-22deg);
  transform-origin: bottom;
}
@media (min-width: 2400px) {
  .button {
    font-size: 18px;
  }
}
.button--md {
  height: 40px;
  padding: 0 32px;
}
@media (min-width: 2400px) {
  .button--md {
    height: 48px;
    padding: 0 40px;
  }
}
.button--lg {
  height: 48px;
  padding: 0 40px;
}
@media (min-width: 2400px) {
  .button--lg {
    height: 56px;
    padding: 0 48px;
  }
}
.button > * {
  display: block;
  transform: skew(22deg);
  line-height: 24px;
  font-weight: 600;
}
.button--primary {
  background-color: #fff;
  color: #000;
}
.button--secondary {
  color: #fff;
  background-color: #8b8b8b;
}
.button--ghost {
  border: 1px solid #8b8b8b;
  color: #8b8b8b;
  background-color: transparent;
}
@media (min-width: 2400px) {
  .button--ghost {
    border-width: 2px;
  }
}

.section-lead__heading {
  display: grid;
  margin-bottom: 48px;
}
.section-lead__heading--center {
  justify-items: center;
  text-align: center;
}
.section-lead__heading--center .section-lead__heading-text {
  display: grid;
  justify-items: center;
}
.section-lead__text {
  display: grid;
  margin-bottom: 32px;
}
.section-lead__text > span {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase;
}
@media (min-width: 2400px) {
  .section-lead__text > span {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
  }
}
.section-lead__line {
  width: 86px;
  height: 4px;
  background-color: #8b8b8b;
}
.section-lead__desc {
  display: grid;
  justify-items: start;
}
.section-lead__desc--center {
  justify-items: center;
  text-align: center;
}
.section-lead__para {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
@media (min-width: 2400px) {
  .section-lead__para {
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
  }
}

.main-lead {
  display: grid;
}
.main-lead--left {
  align-content: start;
  justify-items: start;
}
.main-lead--center {
  text-align: center;
}
.main-lead__text {
  margin-bottom: 32px;
}
.main-lead__title {
  margin-bottom: 16px;
}
.heading1 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 700;
}
@media (min-width: 2400px) {
  .heading1 {
    font-size: 112px;
    line-height: 136px;
    font-weight: 700;
  }
}

.heading2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}
@media (min-width: 2400px) {
  .heading2 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
  }
}

.heading3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}
@media (min-width: 2400px) {
  .heading3 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.site-bar {
  display: grid;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 120px;
  align-content: center;
  transition: background-color 0.2s, height 0.2s;
  padding: 0 48px;
}
.site-bar--active {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100px;
}
.site-bar__container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}
.site-bar__hamburger {
  display: none;
  width: 32px;
}
@media (max-width: 1024px) {
  .site-bar__hamburger {
    display: block;
  }
}

.menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}
li:last-of-type .menu__link {
  border-right: none;
}
@media (max-width: 1024px) {
  .menu {
    display: none;
  }
}
.menu__link {
  display: block;
  height: 18px;
  line-height: 18px;
  padding: 0 32px;
  color: #fff;
  border-right: 1px solid #000;
  transition: color 0.2s;
}
@media (min-width: 2400px) {
  .menu__link {
    height: 28px;
    line-height: 28px;
  }
}
.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 0px;
  top: 50%;
  transform: translateY(-50%);
  transition: height 0.2s, opacity 0.2s;
}
.menu__link:hover::before {
  height: 28px;
}
.menu__link--active {
  height: 28px;
  line-height: 28px;
  border: 1px solid #000;
}
@media (min-width: 2400px) {
  .menu__link--active {
    height: 40px;
    line-height: 40px;
  }
}
.menu__link span {
  display: block;
}

@keyframes mouseInfinite {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
.header {
  z-index: 1;
  display: grid;
  position: relative;
  width: 100vw;
  padding: 0 80px;
  padding-left: 195px;
  padding-right: 255px;
  height: 100vh;
  justify-content: center;
  grid-template-columns: minmax(auto, 1800px);
  background: url("../img/bg-hero.png") no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1024px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.header__content-container {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  align-content: end;
  justify-content: space-between;
  margin-bottom: 20%;
  color: #fff;
  z-index: 1;
}
@media (max-width: 1024px) {
  .header__content-container {
    padding: 0 40px;
    margin-bottom: 30vh;
  }
}
@media (max-width: 1024px) {
  .header__content-container {
    margin-top: 0;
    justify-content: center;
  }
  .header__content-container-right {
    display: none;
  }
  .header__content-container .heading1 {
    font-size: 36px;
    line-height: 40px;
  }
}
.header__content-left {
  max-width: 600px;
}
@media (max-width: 1024px) {
  .header__content-left {
    justify-items: center;
    text-align: center;
  }
}
@media (min-width: 2400px) {
  .header__content-left {
    max-width: 1200px;
  }
}
@media (max-width: 1024px) {
  .header__content-right {
    display: none;
  }
}
.header__content-line {
  height: 370px;
  width: 2px;
  background-color: #fff;
  transform-origin: top;
}
@media (min-width: 2400px) {
  .header__content-line {
    height: 740px;
  }
}
.header__footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 48px;
  padding-bottom: 20px;
  z-index: 2;
}
.header__footer-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  color: #fff;
}
.header__footer-language {
  justify-self: start;
}
.header__footer-language ul {
  display: grid;
  grid-auto-flow: column;
}
.header__footer-language ul li {
  margin-right: 12px;
}
.header__footer-language ul li:last-child {
  margin-right: 0;
}
.header__footer-language ul li:nth-child(2) {
  width: 2px;
  height: 100%;
  background-color: #fff;
}
.header__footer-mouse {
  justify-self: center;
  animation: 3s mouseInfinite infinite ease-in-out;
}
.header__footer-mouse > img {
  height: 100%;
}
@media (max-width: 1024px) {
  .header__footer-mouse {
    display: none;
  }
}
@media (min-width: 2400px) {
  .header__footer-mouse {
    height: 40px;
  }
}
.header__footer-story {
  justify-self: end;
  position: relative;
  display: grid;
  justify-items: center;
  margin-right: 50px;
}
@media (max-width: 1024px) {
  .header__footer-story {
    margin-right: 30px;
  }
}
.header__footer-story:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -60px;
  width: 320px;
  height: 320px;
  background-color: #fff;
  transform-origin: top;
}
@media (max-width: 1024px) {
  .header__footer-story:before {
    left: -40px;
  }
}
@media (min-width: 2400px) {
  .header__footer-story:before {
    left: -60px;
    width: 400px;
    height: 400px;
    top: -60px;
  }
}
.header__footer-story > * {
  z-index: 1;
}
.header__footer-story > span {
  color: #000;
}
.header__footer-story > .button {
  height: 50px !important;
  width: 60px !important;
  padding: 0 !important;
  justify-content: center;
  margin-bottom: 8px;
}

.about-us {
  z-index: 2;
  display: grid;
  position: relative;
  justify-content: center;
  width: 100vw;
  grid-template-columns: minmax(auto, 960px);
  padding-top: 210px;
  padding-bottom: 210px;
}
@media (min-width: 2400px) {
  .about-us {
    padding-top: 350px;
    padding-bottom: 350px;
  }
}
@media (max-width: 1024px) {
  .about-us {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.about-us__container {
  display: grid;
}
.about-us__info {
  display: grid;
  grid-auto-flow: row;
  max-width: 600px;
  justify-self: center;
  margin-bottom: 50px;
}
@media (min-width: 2400px) {
  .about-us__info {
    max-width: 1000px;
  }
}
.about-us__dots {
  display: grid;
  justify-content: end;
  grid-auto-flow: column;
}
@media (max-width: 1024px) {
  .about-us__dots {
    justify-content: center;
  }
}
.about-us__dot {
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-right: 16px;
}
.about-us__dot:last-child {
  margin-right: 0;
}
.about-us__dot-active {
  background-color: #000;
  border: none;
}
.about-us > img {
  position: absolute;
  height: 500px;
  top: 32px;
  left: 0;
}
@media (max-width: 1024px) {
  .about-us > img {
    height: 25%;
  }
}

.portfolio {
  display: grid;
  position: relative;
  justify-content: start;
  width: 100vw;
  background-color: #f4f4f4;
  padding: 65px 0;
  padding-left: 195px;
  grid-template-columns: minmax(auto, 1800px);
  justify-content: center;
}
@media (min-width: 2400px) {
  .portfolio {
    padding-left: 0;
  }
}
@media (max-width: 1024px) {
  .portfolio {
    padding: 0;
    padding-top: 80px;
  }
}
.portfolio__container {
  display: grid;
  gap: 64px;
}
.portfolio__info {
  display: grid;
  z-index: 1;
  max-width: 380px;
}
@media (max-width: 1360px) {
  .portfolio__info {
    max-width: 280px;
  }
}
@media (max-width: 1245px) {
  .portfolio__info {
    max-width: 180px;
  }
}
@media (min-width: 2400px) {
  .portfolio__info {
    max-width: 600px;
  }
}
@media (max-width: 1024px) {
  .portfolio__info {
    justify-self: center;
    justify-items: center;
    max-width: none;
    width: 100%;
    padding: 0 40px;
  }
  .portfolio__info .section-lead__heading {
    justify-items: center;
  }
  .portfolio__info .section-lead__text {
    justify-items: center;
  }
  .portfolio__info .section-lead__desc {
    justify-items: center;
  }
  .portfolio__info .section-lead__para {
    text-align: center;
  }
}
.portfolio__building {
  height: 100%;
  z-index: 1;
  overflow: hidden;
  transform-origin: bottom;
}
@media (max-width: 1024px) {
  .portfolio__building {
    width: 100%;
    margin-top: auto;
    height: auto !important;
    transform: none;
  }
}
.portfolio__building-wrapper {
  height: 130%;
  position: absolute;
  top: -10%;
  right: 0;
}
@media (max-width: 2495px) {
  .portfolio__building-wrapper {
    right: -100px;
  }
}
@media (max-width: 1360px) {
  .portfolio__building-wrapper {
    right: -100px;
  }
}
@media (max-width: 1245px) {
  .portfolio__building-wrapper {
    right: -200px;
  }
}
@media (max-width: 1170px) {
  .portfolio__building-wrapper {
    right: -380px;
  }
}
@media (max-width: 1024px) {
  .portfolio__building-wrapper {
    position: relative;
    width: 100%;
    margin-top: 80px;
    height: auto;
    right: 0;
    top: 0;
  }
}
.portfolio__building > img {
  height: 100%;
  transform-origin: bottom;
  z-index: 0;
}
@media (max-width: 1024px) {
  .portfolio__building > img {
    transform: none;
    height: auto;
    width: 100%;
  }
}
.portfolio__building-info {
  transform: skew(-22deg) translateY(-50%);
  background-color: #fff;
  position: absolute;
  left: 40%;
  right: 0;
  z-index: 2;
  padding: 50px 100px;
}
@media (max-width: 1170px) {
  .portfolio__building-info {
    left: 20%;
  }
}
@media (max-width: 1024px) {
  .portfolio__building-info {
    padding: 40px 80px;
    right: 0;
    left: 20%;
    top: 100%;
    transform-origin: top;
    transform: skew(-22deg) translateY(-50%);
  }
}
.portfolio__building-info > div {
  display: grid;
  white-space: nowrap;
  max-width: 60%;
  transform: skew(22deg);
}
@media (max-width: 1024px) {
  .portfolio__building-info > div {
    width: auto;
  }
}
.portfolio__building-info > div > h3 {
  white-space: initial;
  margin-bottom: 16px;
}

.quotation {
  position: relative;
  margin-top: 260px;
  margin-bottom: 190px;
  width: 100vw;
}
@media (min-width: 1440px) {
  .quotation {
    margin-top: 300px;
  }
}
@media (min-width: 2400px) {
  .quotation {
    margin-top: 400px;
    margin-bottom: 300px;
  }
}
.quotation:before, .quotation:after {
  content: "";
  position: absolute;
  background-color: #8b8b8b;
  width: 2px;
  height: 300px;
  transform: skew(-22deg);
  z-index: 10;
}
.quotation:before {
  bottom: -240px;
  left: 280px;
  transform-origin: bottom;
}
@media (max-width: 1024px) {
  .quotation:before {
    left: 140px;
  }
}
.quotation:after {
  top: -150px;
  right: 20px;
  background-color: #8b8b8b;
}
@media (max-width: 1024px) {
  .quotation:after {
    display: none;
  }
}
.quotation__container {
  align-items: center;
  background-color: #000;
  width: 70%;
  transform-origin: top;
  padding: 0 200px;
  padding-bottom: 56px;
  padding-top: 70px;
}
@media (min-width: 2400px) {
  .quotation__container {
    padding-top: 200px;
    padding-bottom: 180px;
  }
}
@media (max-width: 1024px) {
  .quotation__container {
    width: 95%;
    padding: 40px 80px;
    padding-left: 120px;
  }
}
.quotation__inner {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
  align-items: center;
  justify-items: center;
}
.quotation__inner > h3 {
  margin-right: 100px;
}
@media (max-width: 1024px) {
  .quotation__inner {
    grid-auto-flow: row;
    grid-template-columns: none;
  }
  .quotation__inner > h3 {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.quotation__inner > h2 {
  justify-self: center;
  color: #fff;
}
.quotation__quot {
  display: grid;
  justify-items: end;
  padding: 0 40px;
  max-width: 648px;
}
@media (max-width: 1024px) {
  .quotation__quot {
    padding: 0;
  }
}
@media (min-width: 2400px) {
  .quotation__quot {
    max-width: 648px;
  }
}
.quotation__quot > p {
  position: relative;
  margin-bottom: 24px;
}
.quotation__quot > p:before, .quotation__quot > p:after {
  position: absolute;
  color: #8b8b8b;
  font-weight: 700;
  z-index: 10;
  font-size: 32px;
}
@media (min-width: 2400px) {
  .quotation__quot > p:before, .quotation__quot > p:after {
    font-size: 64px;
  }
}
.quotation__quot > p:before {
  content: "“";
  top: -20px;
  left: -40px;
}
@media (min-width: 2400px) {
  .quotation__quot > p:before {
    top: -20px;
    left: -60px;
  }
}
.quotation__quot > p:after {
  content: "”";
  right: -40px;
  bottom: -20px;
}
@media (min-width: 2400px) {
  .quotation__quot > p:after {
    right: -60px;
    bottom: -20px;
  }
}

.latest-news {
  display: grid;
  align-self: center;
  margin-bottom: 250px;
}
@media (max-width: 1024px) {
  .latest-news {
    margin-bottom: 125px;
  }
  .latest-news .main-lead {
    justify-items: center;
  }
  .latest-news .main-lead__text {
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .latest-news {
    margin-bottom: 500px;
  }
}
.latest-news__content {
  display: grid;
  grid-template-columns: minmax(auto, 1400px);
  justify-content: center;
  margin-top: 26px;
}
@media (min-width: 1440px) {
  .latest-news__content {
    grid-template-columns: minmax(auto, 1800px);
  }
}
@media (max-width: 1024px) {
  .latest-news__content {
    padding: 0;
  }
}
.latest-news__body {
  padding: 0 150px;
}
@media (min-width: 2400px) {
  .latest-news__body {
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .latest-news__body {
    padding: 0 40px;
  }
}
.latest-news__body > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1024px) {
  .latest-news__body > div {
    grid-template-columns: none;
    display: block;
  }
}
.latest-news__body-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 65px;
  grid-column: 2/span 1;
}
.latest-news__body-container .main-lead {
  padding-right: 40px;
}
@media (min-width: 2400px) {
  .latest-news__body-container {
    gap: 112px;
  }
}
@media (max-width: 1024px) {
  .latest-news__body-container {
    grid-column: 1/span 2;
    grid-template-columns: 1fr;
  }
  .latest-news__body-container .main-lead {
    padding-right: 0;
  }
}
.latest-news__building {
  height: 100%;
  transform: skew(-22deg);
  transform-origin: top;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .latest-news__building {
    height: auto;
    transform: none;
    margin-left: -40px;
  }
}
.latest-news__building img {
  height: 100%;
  transform: skew(22deg);
  transform-origin: top;
}
@media (max-width: 1024px) {
  .latest-news__building img {
    transform: none;
    width: 100%;
    height: auto;
  }
}
.latest-news__building-container {
  height: 30vw;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-bottom: 56px;
}
@media (min-width: 1440px) {
  .latest-news__building-container {
    height: 430px;
  }
}
@media (min-width: 2400px) {
  .latest-news__building-container {
    height: 120%;
  }
}
@media (max-width: 1024px) {
  .latest-news__building-container {
    position: relative;
    height: auto;
    width: 100%;
    height: auto !important;
  }
}
.latest-news__carousel {
  display: grid;
  align-content: start;
  grid-auto-flow: row;
  width: 150px;
}
@media (min-width: 2400px) {
  .latest-news__carousel {
    width: 250px;
  }
}
@media (max-width: 1024px) {
  .latest-news__carousel {
    grid-row: 1;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    margin-bottom: 56px;
  }
  .latest-news__carousel-item:nth-child(odd) {
    margin-right: 32px;
  }
  .latest-news__carousel-item:nth-child(1), .latest-news__carousel-item:nth-child(2) {
    margin-bottom: 32px;
  }
}
.latest-news__carousel-item {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  text-decoration: underline;
}
@media (min-width: 2400px) {
  .latest-news__carousel-item {
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
  }
}
.latest-news__carousel-item--active {
  font-weight: 700;
}
.latest-news__carousel-item--active:before {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: 8px;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #8b8b8b;
}
@media (max-width: 1024px) {
  .latest-news__carousel-item--active:before {
    margin-top: 8px;
  }
}

.trusted {
  z-index: -1;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: minmax(auto, 1200px);
  margin-bottom: 10vw;
  position: relative;
  justify-content: center;
  padding: 250px 40px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .trusted {
    padding: 125px 40px;
  }
}
@media (max-width: 1024px) {
  .trusted .section__heading {
    text-align: center;
  }
}
.trusted:before, .trusted:after {
  content: "";
  position: absolute;
  width: 500px;
  height: 400px;
  transform-origin: top;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .trusted:before, .trusted:after {
    width: 300px;
  }
}
.trusted:before {
  bottom: 100%;
  margin-bottom: -80px;
  z-index: 1;
  left: 0;
}
@media (min-width: 2400px) {
  .trusted:before {
    margin-bottom: -160px;
  }
}
.trusted:after {
  right: 0;
  top: 100%;
  margin-top: -80px;
  transform-origin: bottom;
}
@media (min-width: 2400px) {
  .trusted:after {
    margin-top: -160px;
  }
}
.trusted__company {
  display: grid;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
}
.trusted__company > img {
  margin: 16px;
}
.trusted__company > img:last-of-type {
  margin-right: 0;
}
@media (min-width: 1440px) {
  .trusted__company > img {
    height: auto;
    width: 100%;
  }
}

.side-bar {
  z-index: -1;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s, transform 0.2s;
}
.side-bar--in {
  overflow: hidden;
}
.side-bar--in .side-bar {
  z-index: 2;
  visibility: visible;
  transform: translateX(0);
}
.side-bar--out .side-bar {
  z-index: 2;
  visibility: visible;
  transform: translateX(100%);
}

.main {
  z-index: 1;
  min-height: 100%;
  display: grid;
  position: relative;
  overflow: hidden;
}
.main .grid__background {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  z-index: -1;
  position: absolute;
  top: 100vh;
  left: 0;
  width: 4000px;
  position: absolute;
  height: 100%;
  transform: skew(-22deg);
  transform-origin: top;
  padding-left: 96px;
}
.main .grid__background > * {
  border-right: 1px solid #f4f4f4;
}
.main .grid__background > *:first-of-type {
  border-left: 1px solid #f4f4f4;
}
.main .grid__cell {
  position: relative;
}
.main .grid__block1 {
  height: 200px;
  width: calc(100% + 60px);
  background-color: #f4f4f4;
}
@media (min-width: 2400px) {
  .main .grid__block1 {
    width: 360px;
    height: 360px;
  }
}
.main .grid__block2 {
  height: 420px;
  margin-left: -150px;
  width: calc(100% + 200px);
  margin-top: 2680px;
  background-color: #f4f4f4;
}
@media (min-width: 2400px) {
  .main .grid__block2 {
    height: 630px;
    width: 630px;
  }
}
.main .grid__block3 {
  height: 500px;
  width: 500px;
  background-color: red;
  margin-top: 2000px;
}

/*# sourceMappingURL=index.css.map */
