@charset "UTF-8";
.para {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
@media (min-width: 2400px) {
  .para {
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
  }
}

.negativeSkew, .trusted:before, .trusted:after, .quotation__container, .portfolio__building, .about-us__dot, .hero__footer-story:before, .hero__footer-language ul li:nth-child(2), .hero__content-line, .header__menu-link, .section__heading-line {
  transform: skew(-22deg);
}

.positiveSkew, .quotation__container > div, .portfolio__building > img, .header__menu-link span {
  transform: skew(22deg);
}

.button {
  background-color: #dacccc;
  display: grid;
  align-content: center;
  font-size: 16px;
  font-weight: 600;
  transform: skew(-22deg);
  transform-origin: bottom;
}
@media (min-width: 2400px) {
  .button {
    font-size: 18px;
  }
}
.button.md {
  height: 40px;
  padding: 0 32px;
}
@media (min-width: 2400px) {
  .button.md {
    height: 48px;
    padding: 0 40px;
  }
}
.button.lg {
  height: 48px;
  padding: 0 40px;
}
@media (min-width: 2400px) {
  .button.lg {
    height: 56px;
    padding: 0 48px;
  }
}
.button > * {
  display: block;
  transform: skew(22deg);
  line-height: 24px;
  font-weight: 600;
}
.button.primary {
  background-color: #fff;
  color: #000;
}
.button.secondary {
  color: #fff;
  background-color: #8b8b8b;
}
.button.ghost {
  border: 1px solid #8b8b8b;
  color: #8b8b8b;
  background-color: transparent;
}
@media (min-width: 2400px) {
  .button.ghost {
    border-width: 2px;
  }
}

.section__heading {
  display: grid;
  gap: 32px;
}
.section__heading-text {
  display: grid;
  justify-items: start;
}
.section__heading-text > span {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase;
}
@media (min-width: 2400px) {
  .section__heading-text > span {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
  }
}
@media (max-width: 1024px) {
  .section__heading-text > span {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
}
.section__heading-line {
  width: 86px;
  height: 4px;
  background-color: #8b8b8b;
}
.section__heading--center {
  justify-items: center;
}
.section__heading--center .section__heading-text {
  display: grid;
  justify-items: center;
}
.section__description {
  display: grid;
  justify-items: start;
  gap: 32px;
}
.section__description-para {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
@media (min-width: 2400px) {
  .section__description-para {
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
  }
}
.section__description--center {
  justify-items: center;
}
.section__description--center > .section__description-para {
  text-align: center;
}

.heading1 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 700;
}
@media (min-width: 2400px) {
  .heading1 {
    font-size: 112px;
    line-height: 136px;
    font-weight: 700;
  }
}
@media (max-width: 1024px) {
  .heading1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
  }
}

.heading2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}
@media (min-width: 2400px) {
  .heading2 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
  }
}
@media (max-width: 1024px) {
  .heading2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
  }
}

.heading3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}
@media (min-width: 2400px) {
  .heading3 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
  }
}
@media (max-width: 1024px) {
  .heading3 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: grid;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 120px;
  align-content: center;
  transition: background-color 0.2s, height 0.2s;
  padding: 0 48px;
}
.header.active {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100px;
}
.header__container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}
.header__hamburger {
  display: none;
  width: 32px;
}
@media (max-width: 1024px) {
  .header__hamburger {
    display: block;
  }
}
.header__menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}
li:last-of-type .header__menu-link {
  border-right: none;
}
@media (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}
.header__menu-link {
  display: block;
  height: 18px;
  line-height: 18px;
  padding: 0 32px;
  color: #fff;
  border-right: 1px solid #000;
}
@media (min-width: 2400px) {
  .header__menu-link {
    height: 28px;
    line-height: 28px;
  }
}
.header__menu-link:hover {
  background-color: #000;
  color: #fff;
}
.header__menu-link--active {
  height: 28px;
  line-height: 28px;
  border: 1px solid #000;
}
@media (min-width: 2400px) {
  .header__menu-link--active {
    height: 40px;
    line-height: 40px;
  }
}
.header__menu-link span {
  display: block;
}

.hero {
  display: grid;
  position: relative;
  width: 100vw;
  padding: 0 80px;
  height: 100vh;
  grid-template-columns: minmax(auto, 800px);
  justify-content: center;
  background: url("../img/bg-hero.png") no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 2400px) {
  .hero {
    grid-template-columns: minmax(auto, 1400px);
  }
}
@media (max-width: 1024px) {
  .hero {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.hero__content-container {
  display: grid;
  grid-auto-flow: column;
  align-self: center;
  justify-content: space-between;
  color: #fff;
  margin-top: 120px;
  z-index: 1;
}
@media (max-width: 1024px) {
  .hero__content-container {
    margin-top: 0;
    justify-content: center;
  }
  .hero__content-container-right {
    display: none;
  }
}
.hero__content-left {
  max-width: 580px;
  display: grid;
  align-content: start;
  justify-items: start;
  gap: 40px;
}
@media (max-width: 1024px) {
  .hero__content-left {
    justify-items: center;
  }
}
@media (min-width: 2400px) {
  .hero__content-left {
    max-width: 800px;
  }
}
.hero__content-text {
  display: grid;
  align-content: start;
  gap: 20px;
}
@media (max-width: 1024px) {
  .hero__content-text {
    justify-items: center;
  }
}
@media (max-width: 1024px) {
  .hero__content-heading {
    text-align: center;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .hero__content-list {
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .hero__content-right {
    display: none;
  }
}
.hero__content-line {
  height: 370px;
  width: 2px;
  background-color: #fff;
  transform-origin: top;
}
@media (min-width: 2400px) {
  .hero__content-line {
    height: 500px;
  }
}
.hero__footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 48px;
  padding-bottom: 20px;
  z-index: 2;
}
.hero__footer-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  color: #fff;
}
.hero__footer-language {
  justify-self: start;
}
.hero__footer-language ul {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
}
.hero__footer-language ul li:nth-child(2) {
  width: 2px;
  height: 100%;
  background-color: #fff;
}
.hero__footer-mouse {
  justify-self: center;
}
@media (max-width: 1024px) {
  .hero__footer-mouse {
    display: none;
  }
}
.hero__footer-story {
  justify-self: end;
  position: relative;
  display: grid;
  gap: 8px;
  justify-items: center;
  margin-right: 50px;
}
@media (max-width: 1024px) {
  .hero__footer-story {
    margin-right: 30px;
  }
}
.hero__footer-story:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  width: 320px;
  height: 320px;
  background-color: #fff;
  transform-origin: top;
}
@media (max-width: 1024px) {
  .hero__footer-story:before {
    left: -40px;
  }
}
@media (min-width: 2400px) {
  .hero__footer-story:before {
    left: -20px;
  }
}
.hero__footer-story > * {
  z-index: 1;
}
.hero__footer-story > span {
  color: #000;
}
.hero__footer-story > .button {
  height: 50px !important;
  width: 60px !important;
  padding: 0 !important;
  justify-content: center;
}

.about-us {
  display: grid;
  position: relative;
  justify-content: center;
  width: 100vw;
  grid-template-columns: minmax(auto, 960px);
  padding-top: 210px;
  padding-bottom: 210px;
}
@media (max-width: 1024px) {
  .about-us {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.about-us__container {
  display: grid;
  gap: 50px;
}
.about-us__info {
  display: grid;
  grid-auto-flow: row;
  max-width: 600px;
  justify-self: center;
  gap: 64px;
}
@media (min-width: 2400px) {
  .about-us__info {
    max-width: 1000px;
  }
}
.about-us__dots {
  display: grid;
  justify-content: end;
  grid-auto-flow: column;
  gap: 16px;
}
@media (max-width: 1024px) {
  .about-us__dots {
    justify-content: center;
  }
}
.about-us__dot {
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.about-us__dot-active {
  background-color: #000;
  border: none;
}
.about-us > img {
  position: absolute;
  height: 50%;
  top: 32px;
  left: 0;
}
@media (max-width: 1024px) {
  .about-us > img {
    height: 25%;
  }
}

.portfolio {
  display: grid;
  position: relative;
  justify-content: start;
  width: 100vw;
  background-color: #f4f4f4;
  padding: 65px 0;
  padding-left: 180px;
}
@media (min-width: 2400px) {
  .portfolio {
    padding: 130px 0;
    padding-left: 360px;
  }
}
@media (max-width: 1024px) {
  .portfolio {
    gap: 100px;
    padding: 0;
    padding-top: 80px;
  }
}
.portfolio__container {
  display: grid;
  gap: 64px;
}
.portfolio__info {
  display: grid;
  gap: 64px;
  max-width: 380px;
  z-index: 1;
}
@media (max-width: 1024px) {
  .portfolio__info {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 2400px) {
  .portfolio__info {
    max-width: 800px;
  }
}
@media (max-width: 1024px) {
  .portfolio__info .section__heading {
    justify-items: center;
  }
  .portfolio__info .section__heading-text {
    justify-items: center;
  }
  .portfolio__info .section__description {
    justify-items: center;
  }
  .portfolio__info .section__description-para {
    text-align: center;
  }
}
@media (max-width: 1240px) {
  .portfolio__info {
    max-width: 200px;
  }
}
@media (max-width: 1024px) {
  .portfolio__info {
    justify-self: center;
    justify-items: center;
    max-width: 600px !important;
  }
}
.portfolio__building {
  height: 100%;
  z-index: 1;
  overflow: hidden;
  transform-origin: bottom;
}
@media (max-width: 1024px) {
  .portfolio__building {
    width: 100%;
    margin-top: auto;
    height: auto !important;
    transform: none;
  }
}
.portfolio__building-wrapper {
  height: 130%;
  margin-top: -50px;
  margin-right: -200px;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1240px) {
  .portfolio__building-wrapper {
    margin-right: -400px;
  }
}
@media (min-width: 1420px) {
  .portfolio__building-wrapper {
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .portfolio__building-wrapper {
    height: auto;
    width: 100%;
    margin-top: 0;
    position: relative;
    height: auto;
  }
}
.portfolio__building > img {
  height: 100%;
  transform-origin: bottom;
  z-index: 0;
}
@media (max-width: 1024px) {
  .portfolio__building > img {
    transform: none;
    height: auto;
    width: 100%;
  }
}
.portfolio__building-info {
  transform: skew(-22deg) translateY(-50%);
  background-color: #fff;
  position: absolute;
  right: 0;
  z-index: 2;
  padding: 50px 100px;
  padding-right: 300px;
}
@media (max-width: 1240px) {
  .portfolio__building-info {
    padding-right: 500px;
  }
}
@media (min-width: 2400px) {
  .portfolio__building-info {
    padding-left: 140px;
    padding-right: 600px;
  }
}
@media (max-width: 1024px) {
  .portfolio__building-info {
    padding: 40px 80px;
    right: 0;
    left: auto;
    top: 100%;
    transform-origin: top;
    transform: skew(-22deg) translateY(-50%);
  }
}
.portfolio__building-info > div {
  display: grid;
  gap: 16px;
  white-space: nowrap;
  max-width: 300px;
  transform: skew(22deg);
}
@media (max-width: 1024px) {
  .portfolio__building-info > div {
    width: auto;
  }
}
@media (min-width: 2400px) {
  .portfolio__building-info > div {
    max-width: 500px;
  }
}
.portfolio__building-info > div > h3 {
  white-space: initial;
}

.quotation {
  position: relative;
  margin-top: 260px;
  margin-bottom: 190px;
  width: 100vw;
}
@media (min-width: 1440px) {
  .quotation {
    margin-top: 450px;
  }
}
.quotation:before, .quotation:after {
  content: "";
  position: absolute;
  background-color: #8b8b8b;
  width: 2px;
  height: 300px;
  transform: skew(-22deg);
  z-index: 10;
}
.quotation:before {
  bottom: -240px;
  left: 280px;
  transform-origin: bottom;
}
@media (max-width: 1024px) {
  .quotation:before {
    left: 140px;
  }
}
.quotation:after {
  top: -150px;
  right: 20px;
  background-color: #8b8b8b;
}
@media (max-width: 1024px) {
  .quotation:after {
    display: none;
  }
}
.quotation__container {
  align-items: center;
  background-color: #000;
  width: 80%;
  transform-origin: top;
  padding: 0 200px;
  padding-bottom: 56px;
  padding-top: 70px;
}
@media (min-width: 1440px) {
  .quotation__container {
    padding-top: 140px;
    padding-bottom: 112px;
  }
}
@media (max-width: 1024px) {
  .quotation__container {
    width: 95%;
    padding: 40px 80px;
    padding-left: 120px;
  }
}
.quotation__container > div {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
  gap: 100px;
  align-items: center;
  justify-items: center;
}
@media (max-width: 1024px) {
  .quotation__container > div {
    grid-auto-flow: row;
    grid-template-columns: none;
    gap: 50px;
  }
}
.quotation__container > div > h2 {
  justify-self: center;
  color: #fff;
}
.quotation__quot {
  display: grid;
  gap: 24px;
  justify-items: end;
}
.quotation__quot > p {
  position: relative;
}
.quotation__quot > p:before, .quotation__quot > p:after {
  position: absolute;
  color: #8b8b8b;
  font-weight: 700;
  z-index: 10;
  font-size: 32px;
}
.quotation__quot > p:before {
  content: "“";
  top: 0;
  left: 0;
  margin-top: -20px;
  margin-left: -32px;
}
.quotation__quot > p:after {
  content: "”";
  right: 0;
  bottom: 0;
  margin-right: -24px;
  margin-bottom: -12px;
}

.latest-news {
  display: grid;
  align-self: center;
  margin-bottom: 250px;
  gap: 80px;
}
@media (min-width: 1440px) {
  .latest-news {
    margin-bottom: 500px;
  }
}
.latest-news__content {
  display: grid;
  grid-template-columns: minmax(auto, 1400px);
  justify-content: center;
}
@media (min-width: 1440px) {
  .latest-news__content {
    grid-template-columns: minmax(auto, 1800px);
  }
}
@media (max-width: 1024px) {
  .latest-news__content {
    gap: 32px;
    padding: 0;
  }
}
.latest-news__body {
  padding: 0 150px;
}
@media (min-width: 2400px) {
  .latest-news__body {
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .latest-news__body {
    padding: 0 50px;
  }
}
.latest-news__body > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1024px) {
  .latest-news__body > div {
    grid-template-columns: none;
    display: block;
  }
}
.latest-news__body-container {
  display: grid;
  gap: 56px;
  position: relative;
  grid-template-columns: 1fr 65px;
  grid-column: 2/span 1;
}
@media (min-width: 2400px) {
  .latest-news__body-container {
    gap: 112px;
  }
}
@media (max-width: 1024px) {
  .latest-news__body-container {
    grid-column: 1/span 2;
    grid-template-columns: 1fr;
  }
}
.latest-news__body-container-text {
  display: grid;
  justify-items: start;
  align-content: start;
}
@media (max-width: 1024px) {
  .latest-news__body-container-text {
    justify-items: center;
    justify-self: center;
    max-width: 600px;
  }
}
.latest-news__body-container-text-t {
  display: grid;
  gap: 20px;
}
@media (max-width: 1024px) {
  .latest-news__body-container-text-t {
    justify-items: center;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .latest-news__body-container-text-t > p {
    text-align: center;
  }
}
.latest-news__building {
  height: 100%;
  transform: skew(-22deg);
  transform-origin: top;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .latest-news__building {
    height: auto;
    transform: none;
    margin-left: -40px;
  }
}
.latest-news__building img {
  height: 100%;
  transform: skew(22deg);
  transform-origin: top;
}
@media (max-width: 1024px) {
  .latest-news__building img {
    transform: none;
    width: 100%;
    height: auto;
  }
}
.latest-news__building-container {
  height: 30vw;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
@media (min-width: 1440px) {
  .latest-news__building-container {
    height: 430px;
  }
}
@media (min-width: 2400px) {
  .latest-news__building-container {
    height: 120%;
  }
}
@media (max-width: 1024px) {
  .latest-news__building-container {
    position: relative;
    height: auto;
    width: 100%;
    height: auto !important;
  }
}
.latest-news__carousel {
  display: grid;
  align-content: start;
  grid-auto-flow: row;
  width: 150px;
  gap: 32px;
}
@media (min-width: 2400px) {
  .latest-news__carousel {
    width: 250px;
  }
}
@media (max-width: 1024px) {
  .latest-news__carousel {
    grid-row: 1;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
  }
}
.latest-news__carousel-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  text-decoration: underline;
}
@media (min-width: 2400px) {
  .latest-news__carousel-item {
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
  }
}
.latest-news__carousel-item--active {
  font-weight: 700;
}
.latest-news__carousel-item--active:before {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: 12px;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #8b8b8b;
}
@media (max-width: 1024px) {
  .latest-news__carousel-item--active:before {
    margin-top: 8px;
  }
}

.trusted {
  z-index: -1;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: minmax(auto, 1200px);
  margin-bottom: 10vw;
  position: relative;
  justify-content: center;
  padding: 260px 40px;
  gap: 80px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .trusted .section__heading {
    text-align: center;
  }
}
.trusted:before, .trusted:after {
  content: "";
  position: absolute;
  width: 500px;
  height: 400px;
  transform-origin: top;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .trusted:before, .trusted:after {
    width: 300px;
  }
}
.trusted:before {
  bottom: 100%;
  margin-bottom: -120px;
  z-index: 1;
  left: 0;
}
.trusted:after {
  right: 0;
  top: 100%;
  margin-top: -120px;
  transform-origin: bottom;
}
.trusted__company {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 160px));
  gap: 32px;
}
@media (min-width: 1440px) {
  .trusted__company img {
    height: auto;
    width: 100%;
  }
}

body .sidebar {
  z-index: -1;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s, transform 0.2s;
}
body.sidebar-in {
  overflow: hidden;
}
body.sidebar-in .sidebar {
  z-index: 2;
  visibility: visible;
  transform: translateX(0);
}
body.sidebar-out .sidebar {
  z-index: 2;
  visibility: visible;
  transform: translateX(100%);
}

.main {
  z-index: 1;
  min-height: 100%;
  display: grid;
  position: relative;
  overflow: hidden;
}
.main .grid__background {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  z-index: -1;
  position: absolute;
  top: 100vh;
  width: 4000px;
  position: absolute;
  height: 100%;
  left: 50%;
  transform: skew(-22deg) translateX(-50%);
  transform-origin: top;
  padding-left: 96px;
}
.main .grid__background > * {
  border-right: 1px solid #f4f4f4;
}
.main .grid__background > *:first-of-type {
  border-left: 1px solid #f4f4f4;
}
.main .grid__background .block1 {
  height: 240px;
  background-color: #f4f4f4;
  margin-top: 192px;
}
.main .grid__background .block2 {
  height: 420px;
  margin-left: -150px;
  width: calc(100% + 150px);
  margin-top: 2680px;
  background-color: #f4f4f4;
}
.main > * {
  z-index: 2;
}

/*# sourceMappingURL=index.css.map */
