@import './variables.scss';
@import './system.scss';
@import './reset.scss';

@import './components/site-bar.scss';
@import './components/header.scss';
@import './components/about-us.scss';
@import './components/portfolio.scss';
@import './components/quotation.scss';
@import './components/latest-news.scss';
@import './components/trusted.scss';

.side-bar {
	z-index: -1;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transform: translateX(100%);

	background-color: rgba(0, 0, 0, 0.6);

	transition: background-color 0.2s, transform 0.2s;

	&--in {
		overflow: hidden;

		.side-bar {
			z-index: 2;
			visibility: visible;
			transform: translateX(0);
		}
	}

	&--out {
		.side-bar {
			z-index: 2;
			visibility: visible;
			transform: translateX(100%);
		}
	}
}

.main {
	z-index: 1;
	min-height: 100%;
	display: grid;
	position: relative;
	overflow: hidden;

	.grid {
		&__background {
			display: grid;
			grid-template-columns: repeat(24, 1fr);
			z-index: -1;
			position: absolute;
			top: 100vh;
			left: 0;
			width: 4000px;
			position: absolute;
			height: 100%;

			transform: skew(-22deg);
			transform-origin: top;
			padding-left: 96px;

			& > * {
				border-right: 1px solid $grey-light;

				&:first-of-type {
					border-left: 1px solid $grey-light;
				}
			}
		}

		&__cell {
			position: relative;
		}

		&__block1 {
			height: 200px;
			width: calc(100% + 60px);
			background-color: $grey-light;
			// margin-top: 260px;

			@include xlarge {
				// width: 150%;
				width: 360px;
				height: 360px;
			}
		}

		&__block2 {
			height: 420px;
			margin-left: -150px;
			width: calc(100% + 200px);
			margin-top: 2680px;
			background-color: $grey-light;

			@include xlarge {
				height: 630px;
				width: 630px;
			}
		}

		&__block3 {
			height: 500px;
			width: 500px;
			background-color: red;
			margin-top: 2000px;
		}
	}
}
