@mixin small {
	@media (max-width: #{$sm}) {
		@content;
	}
}

@mixin large {
	@media (min-width: #{$lg}) {
		@content;
	}
}

@mixin xlarge {
	@media (min-width: #{$xlg}) {
		@content;
	}
}

@mixin setFont($fontSize, $lineHeight, $fontWeight) {
	font-size: #{$fontSize};
	line-height: #{$lineHeight};
	font-weight: #{$fontWeight};
}

.para {
	@include setFont(14px, 21px, 400);

	@include xlarge {
		@include setFont(28px, 42px, 400);
	}
}

.negativeSkew {
	transform: skew(-$skew);
}

.positiveSkew {
	transform: skew($skew);
}

.button {
	background-color: rgb(218, 204, 204);
	display: grid;
	align-content: center;
	font-size: 16px;
	font-weight: 600;

	@include xlarge {
		font-size: 18px;
	}

	transform: skew(-$skew);

	transform-origin: bottom;

	&--md {
		height: 40px;
		padding: 0 32px;

		@include xlarge {
			height: 48px;
			padding: 0 40px;
		}
	}

	&--lg {
		height: 48px;
		padding: 0 40px;

		@include xlarge {
			height: 56px;
			padding: 0 48px;
		}
	}

	& > * {
		display: block;
		transform: skew($skew);
		line-height: 24px;
		font-weight: 600;
	}

	&--primary {
		background-color: $white;
		color: $black;
	}

	&--secondary {
		color: $white;
		background-color: #8b8b8b;
	}

	&--ghost {
		border: 1px solid #8b8b8b;
		color: #8b8b8b;
		background-color: transparent;

		@include xlarge {
			border-width: 2px;
		}
	}
}

.section-lead {
	&__heading {
		display: grid;
		margin-bottom: 48px;

		&--center {
			justify-items: center;
			text-align: center;

			& .section-lead__heading-text {
				display: grid;
				justify-items: center;
			}
		}
	}

	&__text {
		display: grid;
		margin-bottom: 32px;

		& > span {
			@include setFont(15px, 18px, 400);
			white-space: nowrap;
			text-transform: uppercase;

			@include xlarge {
				@include setFont(30px, 36px, 400);
			}
		}
	}

	&__line {
		@extend .negativeSkew;
		width: 86px;
		height: 4px;
		background-color: $grey-dark;
	}

	&__desc {
		display: grid;
		justify-items: start;

		&--center {
			justify-items: center;
			text-align: center;
		}
	}

	&__para {
		margin-bottom: 24px;
		@include setFont(14px, 21px, 400);

		@include xlarge {
			@include setFont(28px, 42px, 400);
		}
	}
}

.main-lead {
	display: grid;

	&--left {
		align-content: start;
		justify-items: start;
	}

	&--center {
		text-align: center;
	}

	// Text {{{
	&__text {
		margin-bottom: 32px;
	}

	&__title {
		margin-bottom: 16px;
	}

	&__desc {
	}
	/// }}}

	// Button
	&__button {
	}
}

.heading1 {
	@include setFont(56px, 68px, 700);

	@include xlarge {
		@include setFont(112px, 136px, 700);
	}
}

.heading2 {
	@include setFont(32px, 40px, 700);

	@include xlarge {
		@include setFont(64px, 80px, 700);
	}
}

.heading3 {
	@include setFont(18px, 21px, 700);

	@include xlarge {
		@include setFont(36px, 42px, 700);
	}
}
