.about-us {
	z-index: 2;
	display: grid;
	position: relative;
	justify-content: center;
	width: 100vw;
	grid-template-columns: minmax(auto, 960px);
	padding-top: 210px;
	padding-bottom: 210px;

	@include small {
		padding-left: $mobile-padding;
		padding-right: $mobile-padding;
		padding-bottom: 160px;
	}

	@include xlarge {
		padding-top: 350px;
		padding-bottom: 350px;
	}

	&__container {
		display: grid;
	}

	&__info {
		display: grid;
		grid-auto-flow: row;
		max-width: 600px;
		justify-self: center;
		margin-bottom: 50px;

		@include xlarge {
			max-width: 1000px;
		}
	}

	&__dots {
		display: grid;
		justify-content: end;
		grid-auto-flow: column;

		@include small {
			justify-content: center;
		}
	}

	&__dot {
		@extend .negativeSkew;

		height: 20px;
		width: 20px;
		border: 1px solid $black;
		box-sizing: border-box;
		margin-right: 16px;

		&:last-child {
			margin-right: 0;
		}

		&-active {
			background-color: $black;
			border: none;
		}
	}

	& > img {
		$t: 64px;
		$h: 400px;
		position: absolute;
		height: $h;
		top: $t;
		left: 0;

		// Exceptions
		@media (max-width: 1200px) {
			height: 400px;
		}

		@include small {
			display: block;
			height: 25%;
		}
		@include xlarge {
			top: $t * 2;
			height: $h * 2;
		}
	}
}
