@import '../system.scss';

.about-us {
	display: grid;
	position: relative;
	justify-content: center;

	padding-top: 210px;
	padding-bottom: 210px;
	&__container {
		display: grid;
		width: 600px;
		gap: 115px;
	}

	&__info {
		display: grid;
		grid-auto-flow: row;
		gap: 64px;

		&__heading {
			display: grid;
			justify-items: center;
			justify-self: center;
			gap: 32px;

			&-text {
				display: grid;
				justify-items: center;
				gap: 4px;

				& > span {
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 400;
				}
			}

			&-line {
				width: 86px;
				height: 4px;
				background-color: $grey-dark;
			}
		}

		&__description {
			display: grid;
			justify-items: center;
			gap: 32px;

			& > p {
				font-size: 14px;
				line-height: 21px;
				font-weight: 400;
				text-align: center;
			}
		}
	}

	&__dots {
		gap: 16px;

		// @include small {
		// 	justify-content: center !important;
		// }
	}

	&__dot {
		@extend .negativeSkew;

		height: 20px;
		width: 20px;
		border: 1px solid $black;
		box-sizing: border-box;

		&-active {
			background-color: $black;
			border: none;
		}
	}

	& > img {
		position: absolute;
		height: 32vw;
		top: 32px;
		left: 0;
	}
}
