.hero {
	display: grid;
	position: relative;
	width: 100vw;
	padding: 0 80px;

	height: 100vh;
	grid-template-columns: minmax(auto, 800px);
	justify-content: center;

	@include xlarge {
		grid-template-columns: minmax(auto, 1400px);
	}

	// Background
	background: url('../img/bg-hero.png') no-repeat;
	background-size: cover;
	background-position: center;

	@include small {
		padding-left: 40px;
		padding-right: 40px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
	}

	&__content {
		&-container {
			display: grid;
			grid-auto-flow: column;
			align-self: center;
			justify-content: space-between;
			color: $white;
			margin-top: $header-height;
			z-index: 1;

			@include small {
				margin-top: 0;
				justify-content: center;

				&-right {
					display: none;
				}
			}
		}

		&-left {
			max-width: 580px;
			display: grid;
			align-content: start;
			justify-items: start;
			gap: 40px;

			@include small {
				justify-items: center;
			}

			@include xlarge {
				max-width: 800px;
			}
		}

		&-text {
			display: grid;
			align-content: start;
			gap: 20px;

			@include small {
				justify-items: center;
			}
		}

		&-heading {
			@include small {
				text-align: center;
				width: auto;
			}
		}

		&-list {
			@include small {
				text-align: center;
			}
		}

		// RIGHT
		&-right {
			@include small {
				display: none;
			}
		}

		&-line {
			@extend .negativeSkew;
			height: 370px;
			width: 2px;
			background-color: $white;
			transform-origin: top;

			@include xlarge {
				height: 500px;
			}
		}
	}

	&__footer {
		color: $white;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 0 48px;
		padding-bottom: 20px;
		z-index: 2;

		&-container {
			display: grid;
			grid-auto-flow: column;
			align-items: center;
			color: $white;
		}

		&-language {
			// @include setFont(14px, 18px, 600);
			justify-self: start;

			ul {
				display: grid;
				grid-auto-flow: column;
				gap: 12px;

				& li:nth-child(2) {
					@extend .negativeSkew;

					width: 2px;
					height: 100%;
					background-color: $white;
				}
			}
		}

		&-mouse {
			justify-self: center;

			@include small {
				display: none;
			}
		}

		&-story {
			justify-self: end;
			position: relative;
			display: grid;
			gap: 8px;
			justify-items: center;
			margin-right: 50px;

			@include small {
				margin-right: 30px;
			}

			&:before {
				@extend .negativeSkew;

				content: '';
				position: absolute;
				top: -30px;
				left: -80px;
				width: 320px;
				height: 320px;
				background-color: #fff;
				transform-origin: top;

				@include small {
					left: -40px;
				}

				@include xlarge {
					left: -20px;
				}
			}

			& > * {
				z-index: 1;
			}

			& > span {
				// @include setFont(14px, 21px, 400);
				color: $black;
			}

			& > .button {
				height: 50px !important;
				width: 60px !important;
				padding: 0 !important;
				justify-content: center;
			}
		}
	}
}
