.latest-news {
	display: grid;
	align-self: center;
	margin-bottom: 250px;
	gap: 80px;

	@include large {
		margin-bottom: 500px;
	}

	// padding: 300px 0;

	&__content {
		display: grid;
		grid-template-columns: minmax(auto, 1400px);
		justify-content: center;

		@include large {
			grid-template-columns: minmax(auto, 1800px);
		}

		@include small {
			gap: 32px;
			padding: 0;
		}
	}

	&__body {
		padding: 0 150px;

		@include xlarge {
			padding: 0;
		}

		@include small {
			padding: 0 50px;
		}

		& > div {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			@include small {
				grid-template-columns: none;
				display: block;
			}
		}

		&-container {
			display: grid;
			gap: 56px;
			position: relative;
			grid-template-columns: 1fr 65px;
			grid-column: 2 / span 1;

			@include xlarge {
				gap: 112px;
			}

			@include small {
				grid-column: 1 / span 2;
				grid-template-columns: 1fr;
			}

			&-text {
				display: grid;
				justify-items: start;
				align-content: start;

				@include small {
					justify-items: center;
					justify-self: center;
					max-width: 600px;
				}

				&-t {
					display: grid;
					gap: 20px;

					@include small {
						justify-items: center;
						text-align: center;
					}

					& > p {
						@include small {
							text-align: center;
						}
					}
				}
			}

			& p {
			}
		}
	}

	&__building {
		height: 100%;
		transform: skew(-$skew);
		transform-origin: top;
		overflow: hidden;

		@include small {
			height: auto;
			transform: none;
			margin-left: -40px;
		}

		& img {
			// @extend .ske
			height: 100%;
			transform: skew($skew);
			transform-origin: top;

			@include small {
				transform: none;
				width: 100%;
				height: auto;
			}
		}

		&-container {
			height: 30vw;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;

			@include large {
				height: 430px;
			}

			@include xlarge {
				height: 120%;
			}

			@include small {
				position: relative;
				height: auto;
				width: 100%;
				height: auto !important;
			}
		}
	}

	&__carousel {
		display: grid;
		align-content: start;
		grid-auto-flow: row;
		width: 150px;
		gap: 32px;

		@include xlarge {
			width: 250px;
		}

		@include small {
			grid-row: 1;
			grid-template-columns: repeat(2, 1fr);
			width: auto;
		}

		&-item {
			// font-size: 14px;
			@include setFont(14px, 21px, 700);

			position: relative;
			text-decoration: underline;

			@include xlarge {
				@include setFont(28px, 42px, 700);
			}

			&--active {
				font-weight: 700;
				&:before {
					content: '';
					position: absolute;
					top: 100%;
					margin-top: 12px;
					left: 0;
					width: 40px;
					height: 4px;
					background-color: $grey-dark;

					@include small {
						margin-top: 8px;
					}
				}
			}
		}
	}
}
