.portfolio {
	display: grid;
	position: relative;
	justify-content: start;
	padding: 60px 200px;

	@include small {
		padding: 30px;
		gap: 64px;
	}

	background-color: $grey-light;

	// @include small {
	// 	padding: calcToVw(80);
	// 	grid-template-columns: minmax(auto, 920px);
	// 	background-color: transparent;
	// }

	// @include large {
	// 	grid-template-columns: minmax(auto, calcToVw(450));
	// 	padding: calcToVw(40) calcToVw(180);
	// }

	&__container {
		display: grid;
		gap: 64px;
	}

	&__info {
		display: grid;
		gap: 64px;
		max-width: 380px;
		z-index: 1;

		@include small {
			justify-self: center;
			justify-items: center;
		}

		&__heading {
			display: grid;
			justify-items: start;
			gap: 32px;

			@include small {
				justify-self: center;
				justify-items: center;
			}

			&-text {
				display: grid;
				gap: 4px;
				text-align: center;
				justify-items: start;

				@include small {
					justify-items: center;
				}

				& > span {
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 400;
				}
			}

			&-line {
				width: 86px;
				height: 4px;
				background-color: #8b8b8b;
			}
		}

		&__description {
			display: grid;
			justify-items: start;
			gap: 32px;

			@include small {
				justify-items: center;
			}

			& > p {
				font-size: 14px;
				line-height: 21px;
				font-weight: 400;

				@include small {
					text-align: center;
				}
			}
		}
	}

	&__building {
		@extend .negativeSkew;
		// position: absolute;
		// top: 0;
		// right: 0;
		// width: 50%;
		height: calc(100% + 15vw);
		margin-right: -150px;
		margin-top: -5vw;
		z-index: 1;
		overflow: hidden;
		transform-origin: bottom;

		@include large {
			height: calc(100% + 20vw);
		}

		@include small {
			width: 100%;
			margin-top: auto;
			height: auto;
			transform: none;
		}

		&-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;

			@include small {
				position: relative;
				height: auto;
			}
		}

		& > img {
			@extend .positiveSkew;
			height: 100%;
			transform-origin: bottom;
			z-index: 0;

			@include small {
				transform: none;
				height: auto;
				width: 100%;
			}
		}

		&-info {
			transform: skew(-$skew) translateY(-50%);
			background-color: $white;
			position: absolute;
			top: calc(100% + 10vw);
			right: 0;
			z-index: 2;
			padding: 50px 100px;

			// padding-right: 400px;
			transform-origin: top;

			@include large {
				top: calc(100% + 15vw);
			}

			@include small {
				top: 100%;
				// padding: 0;
				transform: skew(-$skew) translateY(-50%);
				right: -100px;
			}

			& > div {
				display: grid;
				gap: 16px;
				white-space: nowrap;
				max-width: 400px;
				transform: skew($skew);

				@include small {
					width: auto;
				}

				& > h3 {
					white-space: initial;
					font-weight: 700;
				}

				& > ul {
					font-size: 14px;
					line-height: 21px;
					font-weight: 400;
				}
			}
		}
	}
}
