.portfolio {
	display: grid;
	position: relative;
	justify-content: start;
	width: 100vw;
	background-color: $grey-light;
	padding: 65px 0;
	padding-left: 180px;

	@include xlarge {
		padding: 130px 0;
		padding-left: 360px;
	}

	@include small {
		gap: 100px;
		padding: 0;
		padding-top: 80px;
	}

	&__container {
		display: grid;
		gap: 64px;
	}

	&__info {
		display: grid;
		gap: 64px;
		max-width: 380px;
		z-index: 1;

		@include small {
			padding-left: 40px;
			padding-right: 40px;
		}

		@include xlarge {
			max-width: 800px;
		}

		& .section {
			@include small {
				&__heading {
					justify-items: center;

					&-text {
						justify-items: center;
					}
				}

				&__description {
					justify-items: center;

					&-para {
						text-align: center;
					}
				}
			}
		}

		@media (max-width: 1240px) {
			max-width: 200px;
		}

		@include small {
			justify-self: center;
			justify-items: center;
			max-width: 600px !important;
		}
	}

	&__building {
		@extend .negativeSkew;
		height: 100%;
		z-index: 1;
		overflow: hidden;
		transform-origin: bottom;

		@include small {
			width: 100%;
			margin-top: auto;
			height: auto !important;
			transform: none;
		}

		&-wrapper {
			height: 130%;
			margin-top: -50px;
			margin-right: -200px;
			position: absolute;
			top: 0;
			right: 0;

			@media (max-width: 1240px) {
				margin-right: -400px;
			}

			@media (min-width: 1420px) {
				margin-right: 0;
			}

			@include small {
				height: auto;
				width: 100%;
				margin-top: 0;
				position: relative;
				height: auto;
			}
		}

		& > img {
			@extend .positiveSkew;
			height: 100%;
			transform-origin: bottom;
			z-index: 0;

			@include small {
				transform: none;
				height: auto;
				width: 100%;
			}
		}

		&-info {
			transform: skew(-$skew) translateY(-50%);
			background-color: $white;
			position: absolute;
			right: 0;
			z-index: 2;
			padding: 50px 100px;
			padding-right: 300px;

			@media (max-width: 1240px) {
				padding-right: 500px;
			}

			@include xlarge {
				padding-left: 140px;
				padding-right: 600px;
			}

			@include small {
				padding: 40px 80px;
				right: 0;
				left: auto;
				top: 100%;
				transform-origin: top;
				transform: skew(-$skew) translateY(-50%);
			}

			& > div {
				display: grid;
				gap: 16px;
				white-space: nowrap;
				max-width: 300px;
				transform: skew($skew);

				@include small {
					width: auto;
				}

				@include xlarge {
					max-width: 500px;
				}

				& > h3 {
					white-space: initial;
				}
			}
		}
	}
}
