.trusted {
	z-index: -1;
	background-color: $grey-light;
	display: grid;

	grid-template-columns: minmax(auto, 1200px);
	margin-bottom: 10vw;
	position: relative;
	justify-content: center;
	padding: 250px 40px;
	overflow: hidden;

	@include small {
		padding: 125px 40px;
	}

	& .section__heading {
		@include small {
			text-align: center;
		}
	}

	$negativeDistance: -80px;
	&:before,
	&:after {
		@extend .negativeSkew;
		content: '';
		position: absolute;
		width: 500px;
		height: 400px;
		transform-origin: top;
		background-color: #fff;

		@include small {
			width: 300px;
		}
	}
	&:before {
		bottom: 100%;
		margin-bottom: $negativeDistance;
		z-index: 1;
		left: 0;

		@include xlarge {
			margin-bottom: $negativeDistance * 2;
		}
	}

	&:after {
		right: 0;
		top: 100%;
		margin-top: $negativeDistance;
		transform-origin: bottom;

		@include xlarge {
			margin-top: $negativeDistance * 2;
		}
	}

	&__company {
		display: grid;
		margin-top: 32px;

		justify-content: center;
		align-items: center;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(auto, 200px));

		& > img {
			margin: 16px;

			&:last-of-type {
				margin-right: 0;
			}

			@include large {
				height: auto;
				width: 100%;
			}
		}
	}
}
